<!doctype html>
    <!--[if lte IE 8]><html class="lteie8" ng-app="app"><![endif]-->
    <!--[if gt IE 8]><!--><html ng-app="app"><!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <title>boxful.at</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,width=device-width">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="/css/add.css" type="text/css" media="screen, projection"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <script type="text/javascript" src="/js/base/jquery.js"></script>
    <script src="/js/plugins/slick.js"></script>
    <script type="text/javascript" src="/js/scripts/main.js"></script>
    <!--[if lt IE 9]>
        <script type="text/javascript" src="/js/base/html5.js"></script>
        <script type="text/javascript" src="/js/base/modernizr.js"></script>
        <script type="text/javascript" src="/js/base/selectivizr.js"></script>
        <script type="text/javascript" src="/js/base/respond.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-resource.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.7/angular-locale_de-at.js"></script>
    <script src="http://reseller.boxful.at/js/assets.js"></script>
    <script src="http://reseller.boxful.at/js/data.js"></script>
    <script src="http://reseller.boxful.at/js/packager.js"></script>
    <script src="http://reseller.boxful.at/js/calculator.js"></script>
    <script src="http://reseller.boxful.at/js/texter.js"></script>
    <script type="text/javascript" src="/js/angular/app.js"></script>
    <!-- Piwik -->
<script type="text/javascript">
var _paq = _paq || [];
_paq.push(["setDomains", ["*.boxful.at"]]);
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var u = "//statistik.fetz.cc/";
    _paq.push(['setTrackerUrl', u + 'piwik.php']);
    _paq.push(['setSiteId', 4]);
    var d = document,
        g = d.createElement('script'),
        s = d.getElementsByTagName('script')[0];
    g.type = 'text/javascript';
    g.async = true;
    g.defer = true;
    g.src = u + 'piwik.js';
    s.parentNode.insertBefore(g, s);
})();
</script>
<!-- End Piwik Code -->

</head>



  <body class=" style2 ">
    <header class="header">
    <div class="container">
        <nav class="nav__top clearfix">
<!--
            <ul>
                <li class="">
                  <a href="/"><span class="no-w560">Industriekunden</span><span class="w560">B2B</span></a>
                </li>
                <li class="">
                  <a href="/reseller.html">Reseller</a>
                </li>
                <li>
                  <a href="http://reseller.boxful.at/" rel="nofollow noopener" target="_blank">B2B Login</a>
                </li>
            </ul>
          -->

            <a class="phone phone2" href="mailto:office@boxful.at"><strong>office@boxful.at</strong></a>
            <a class="phone" href="tel:+43720817039"><strong>+43 720 817039</strong></strong></a>
        </nav>
        <!-- nav__top -->
    </div>
    <div class="top">
        <div class="container clearfix">
            <a href="/" class="logo">
              <img src="/images/logo.png" alt="">
            </a>
            <!-- main nav -->
            <a href="#" class="nav__visible w780"><i></i></a>
            <nav class="nav__main">

                <div class="nav__container">
  <a href="#" class="nav__close w780"><i>+</i></a>
  <ul class="nav navbar-nav">
    
      
        <li class="parent
          
        ">
          <a href="/boxen/din_a6.html">BOXEN</a>
          <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-angle-down"></i></span>
          <ul class="dropdown-menu" role="menu">
          
            
              <li >
                <a href="/boxen/din_a6.html"><span>Din A6</span><i>150 x 105 mm</i></a>
              </li>
            
          
            
              <li >
                <a href="/boxen/din_lang.html"><span>Din lang</span><i>210 x 105 mm</i></a>
              </li>
            
          
            
              <li >
                <a href="/boxen/din_a5.html"><span>Din A5</span><i>210 x 150 mm</i></a>
              </li>
            
          
            
              <li >
                <a href="/boxen/quadratisch.html"><span>Quadratisch</span><i>210 x 210 mm</i></a>
              </li>
            
          
            
              <li >
                <a href="/boxen/din_a4.html"><span>Din A4</span><i>300 x 210 mm</i></a>
              </li>
            
          
          </ul>
        </li>
      
    
      <!--
        <li >
          <a href="/kalkulator.html">KALKULATOR</a>
        </li>
      -->
      
    
      
        <li >
          <a href="/kontakt.html">KONTAKT</a>
        </li>
      
    
  </ul>
</div>

                <a href="https://www.facebook.com/Boxful-199295797115148/?fref=ts" class="icon icon-facebook" target="_blank"></a>
            </nav>
        </div>
    </div>
</header>
<!-- .header-->


      <div class="wrapper">
        <!-- .content start -->
         <div class="content">

            
    <div id="carousel">
        <div class="slide_th" style="background-image: url('/images/th1.jpg')"></div>
        <div class="slide_th" style="background-image: url('/images/th2.jpg')"></div>
        <div class="slide_th" style="background-image: url('/images/th3.jpg')"></div>
        <div class="slide_th" style="background-image: url('/images/th4.jpg')"></div>
    </div>
    <!-- slider -->




            <section class="page__detail">
                <div class="container">
                    <h1 class="title">Boxen</h1>
                    <div class="row">
                        <div class="col-md-9">
                            <article>

  <h2 class="title">Vorgabe der Länge (in etwa 570 Zeichen)</h2>

  <p>Unsere Boxen mit Hohlrahmen zeichnen sich durch höchste Stabilität und Qualität aus. Insgesamt sind 5 Standardgrößen mit 3 unterschiedliche Höhen verfügbar. Für Individualisten bieten wir unsere Boxen selbstverständlich auch in Sondergrößen an.</p>

  <p>Das Inlay wird perfekt auf Ihren Werbeartikel angepasst. Auf Wunsch gibt es auch für jede Box einen Versandschuber, damit diese versandt werden kann. Extrem kurze Lieferzeit und individuelles grafisches Design - und, das Allerbeste zum Schluss: alle Boxen sind Made in Austria.  </p>

</article>







                            
<h3 class="title_module">Extras</h3>
<div class="block__white">
    <div class="row">
        <div class="col-md-6">
            <ul class="list__left">
                <li><strong>Konfektionieren</strong> </li>
                <li><strong>Einlegen der Werbemittel</strong> </li>
                <li><strong>Magnet- oder Klett-Verschluss</strong> </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list__right">
                <li><strong>Design-Service</strong></li>
                <li><strong>Musterbox</strong></li>
                <li><strong>Diverse Veredelungen</strong> </li>
            </ul>
        </div>
    </div>
</div>
                        </div>
                        <div class="col-md-3">
                            <div class="sidebar">
    <div class="sidebar__module sidebar__module--box">
        <h3>UNSERE STANDARD BOXEN</h3>
        <ul class="list__box">
            

                

                    <li class="">
                        <a href="/boxen/din_a6.html"><span>Din A6</span><i>150 x 105 mm</i></a>
                    </li>

                

                    <li class="">
                        <a href="/boxen/din_lang.html"><span>Din lang</span><i>210 x 105 mm</i></a>
                    </li>

                

                    <li class="">
                        <a href="/boxen/din_a5.html"><span>Din A5</span><i>210 x 150 mm</i></a>
                    </li>

                

                    <li class="">
                        <a href="/boxen/quadratisch.html"><span>Quadratisch</span><i>210 x 210 mm</i></a>
                    </li>

                

                    <li class="">
                        <a href="/boxen/din_a4.html"><span>Din A4</span><i>300 x 210 mm</i></a>
                    </li>

                

            

                

            

                

            
        </ul>
    </div>
    <div class="sidebar__module">
        <h3>KUNDENSUPPORT</h3>
        <article>
            <p>Sie haben eine Frage zu unseren Produkten oder sind sich nicht sicher welches Produkt das optimalste für Ihr Werbevorhaben ist? <br>Unser Support Team hilft Ihnen gerne telefonisch oder per email weiter!</p>
        </article>
        <div class="block__btn">
            <a href="tel:+43720817039" class="btn btn__green">+43 720 817 039</a>
            <a href="/kontakt.html" class="btn btn__green">office@boxful.at</a>
        </div>
    </div>
</div>
                        </div>
                    </div>
                </div>
            </section>
            
            

         </div>
         <!-- .content end-->
         <div class="layout_footer"></div>
      </div>

          <footer class="footer">
          <div class="container">
              <div class="text-center">
                  <img src="/images/logo_footer.png" alt=""> <br>
                  <strong>boxful ist eine Marke von</strong> <br>
                  <strong>Othmar Fetz</strong> • Kirchenstraße 16 • 4615 Holzhausen • +43 720 817039 • <a href='mailto:office@boxful.at'>office@boxful.at</a> • ATU61165223
                  <br><a href="/impressum.html">Impressum</a> &bull; <a href="/datenschutz.html">Datenschutz</a> &bull; <a href="/agb.html">AGB</a>
              </div>
          </div>
      </footer>
      <!-- .footer -->



    <div id="overlay"></div>
    <div class="modal modal__contact">

        <div>
          <a href="#" class="modal__close">+</a>
          <h3>Bitte senden Sie mir ein Angebot</h3>
          <form class="form" ng-controller="ContactCtrl" name="contactForm">
  <div class="form-group">
    <label>Name</label>
    <span class="input_box input_box-block">
      <input type="text" class="form-control" placeholder="Name" ng-model="form.name" required="">
    </span>
  </div>
  <!-- form-group -->
  <div class="form-group">
    <label>Kontakt (E-Mail oder Telefonnummer)</label>
    <span class="input_box input_box-block">
      <input type="text" class="form-control" placeholder="Kontakt" ng-model="form.contact" required="">
    </span>
  </div>
  <!-- form-group -->
  <div class="form-group">
    <label>Nachricht</label>
    <span class="input_box input_box-block">
      <textarea class="form-control" placeholder="Nachricht" ng-model="form.message" required=""></textarea>
    </span>
  </div>
  <!-- form-group -->
  
    <button ng-click="send()" class="btn btn__green" ng-disabled="contactForm.$invalid || sending">Ein unverbindliches Angebot anfragen</button>
  
  <span class="alert alert_yes" ng-show="sent"><i>Ihre Anfrage wurde erfolgreich gesendet</i></span>
</form>

        </div>
    </div>

    <!-- <div class="responsive_test"></div> -->
    </body>
</html>
