<!doctype html>
    <!--[if lte IE 8]><html class="lteie8" ng-app="app"><![endif]-->
    <!--[if gt IE 8]><!--><html ng-app="app"><!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <title>boxful.at</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,width=device-width">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="/css/add.css" type="text/css" media="screen, projection"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <script type="text/javascript" src="/js/base/jquery.js"></script>
    <script src="/js/plugins/slick.js"></script>
    <script type="text/javascript" src="/js/scripts/main.js"></script>
    <!--[if lt IE 9]>
        <script type="text/javascript" src="/js/base/html5.js"></script>
        <script type="text/javascript" src="/js/base/modernizr.js"></script>
        <script type="text/javascript" src="/js/base/selectivizr.js"></script>
        <script type="text/javascript" src="/js/base/respond.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-resource.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.7/angular-locale_de-at.js"></script>
    <script src="http://reseller.boxful.at/js/assets.js"></script>
    <script src="http://reseller.boxful.at/js/data.js"></script>
    <script src="http://reseller.boxful.at/js/packager.js"></script>
    <script src="http://reseller.boxful.at/js/calculator.js"></script>
    <script src="http://reseller.boxful.at/js/texter.js"></script>
    <script type="text/javascript" src="/js/angular/app.js"></script>
    <!-- Piwik -->
<script type="text/javascript">
var _paq = _paq || [];
_paq.push(["setDomains", ["*.boxful.at"]]);
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var u = "//statistik.fetz.cc/";
    _paq.push(['setTrackerUrl', u + 'piwik.php']);
    _paq.push(['setSiteId', 4]);
    var d = document,
        g = d.createElement('script'),
        s = d.getElementsByTagName('script')[0];
    g.type = 'text/javascript';
    g.async = true;
    g.defer = true;
    g.src = u + 'piwik.js';
    s.parentNode.insertBefore(g, s);
})();
</script>
<!-- End Piwik Code -->

</head>



  <body class=" style2 ">
    <header class="header">
    <div class="container">
        <nav class="nav__top clearfix">
<!--
            <ul>
                <li class="">
                  <a href="/"><span class="no-w560">Industriekunden</span><span class="w560">B2B</span></a>
                </li>
                <li class="">
                  <a href="/reseller.html">Reseller</a>
                </li>
                <li>
                  <a href="http://reseller.boxful.at/" rel="nofollow noopener" target="_blank">B2B Login</a>
                </li>
            </ul>
          -->

            <a class="phone phone2" href="mailto:office@boxful.at"><strong>office@boxful.at</strong></a>
            <a class="phone" href="tel:+43720817039"><strong>+43 720 817039</strong></strong></a>
        </nav>
        <!-- nav__top -->
    </div>
    <div class="top">
        <div class="container clearfix">
            <a href="/" class="logo">
              <img src="/images/logo.png" alt="">
            </a>
            <!-- main nav -->
            <a href="#" class="nav__visible w780"><i></i></a>
            <nav class="nav__main">

                <div class="nav__container">
  <a href="#" class="nav__close w780"><i>+</i></a>
  <ul class="nav navbar-nav">
    
      
        <li class="parent
          
            active
          
        ">
          <a href="/boxen/din_a6.html">BOXEN</a>
          <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-angle-down"></i></span>
          <ul class="dropdown-menu" role="menu">
          
            
              <li >
                <a href="/boxen/din_a6.html"><span>Din A6</span><i>150 x 105</i></a>
              </li>
            
          
            
              <li >
                <a href="/boxen/din_lang.html"><span>Din lang</span><i>210 x 105</i></a>
              </li>
            
          
            
              <li  class="active" >
                <a href="/boxen/din_a5.html"><span>Din A5</span><i>210 x 150</i></a>
              </li>
            
          
            
              <li >
                <a href="/boxen/quadratisch.html"><span>Quadratisch</span><i>210 x 210</i></a>
              </li>
            
          
            
              <li >
                <a href="/boxen/din_a4.html"><span>Din A4</span><i>300 x 210</i></a>
              </li>
            
          
          </ul>
        </li>
      
    
      
      <!--
        <li >
          <a href="/kalkulator.html">KALKULATOR</a>
        </li>
      -->
    
      
        <li >
          <a href="/kontakt.html">KONTAKT</a>
        </li>
      
    
  </ul>
</div>

                <a href="https://www.facebook.com/Boxful-199295797115148/?fref=ts" class="icon icon-facebook" target="_blank"></a>
            </nav>
        </div>
    </div>
</header>
<!-- .header-->


      <div class="wrapper">
        <!-- .content start -->
         <div class="content">

            
    <div id="carousel">
        <div class="slide_th" style="background-image: url('/images/th1.jpg')"></div>
        <div class="slide_th" style="background-image: url('/images/th2.jpg')"></div>
        <div class="slide_th" style="background-image: url('/images/th3.jpg')"></div>
        <div class="slide_th" style="background-image: url('/images/th4.jpg')"></div>
    </div>
    <!-- slider -->




            <section class="page__detail">
                <div class="container">
                    <h1 class="title">Din A5</h1>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="module_tabs">
    <h3>AUSFÜHRUNG IN 3 HÖHEN</h3>
    <div class="tabs__container">
        <div class="tabs__btn">
            <a class="btn btn__red current" href="#">Caro 14 mm</a>
            <a class="btn btn__red" href="#">Clara 27 mm</a>
            <a class="btn btn__red" href="#">Cornelia 42 mm</a>
        </div>
        <!-- tabs btn -->
        <div class="tabs__box visible">
            
<h3 class="title_module">Caro 210 x 150 x 14</h3>
<article class="block__white">
    <p>Unsere Allrounderin im A5 Format, die Box besticht durch ihr flaches Design und ist die ideale Wahl für mehrere kleine oder mittelgroße Werbegeschenke. Optional gibt es CARO auch mit Geschenkkarte oder dünnem Einlegefolder.</p>
</article>
<h3 class="title_module">Spezifikation</h3>
<div class="block__white row">
    <div class="col-md-6">
        <ul class="list__left">
            <li><strong>Innenmaß:</strong>210 x 150 x 14 mm</li>
            <li><strong>Aussenmaß:</strong>250 x 190 x 18 mm</li>
            <li><strong>Abmessungen Schuber:</strong> 290 x 195 x 22 mm</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list__right">
            <li><strong>Gewicht Box:</strong>0,100 kg</li>
            <li><strong>Gewicht Schuber:</strong>0,053 kg</li>
            <!-- <li><strong>Material</strong>Fedrigoni Symbol Card</li> -->
        </ul>
    </div>
</div>
<h3 class="title_module">Preis</h3>
<div class="block__white block__price">
    <div class="row">
        <div class="col-md-4">
            <span>Mindestauflage: 25 Stück</span><br>
            <strong>Preis bei 500 Stk: € 5,61</strong>
        </div>
        <div class="col-md-7 col-md-offset-1">
            <a ng-click="sendBoxInfo('Caro')" data-target="contact" class="btn btn__green btn__modal block text-center">Find ich gut – senden Sie mir ein unverbindliches Angebot!</a>
        </div>
    </div>
</div>

        </div>
        <!-- tabs box -->
        <div class="tabs__box">
            
<h3 class="title_module">Clara 210 x 150 x 27</h3>
<article class="block__white">
    <p>Unsere Allrounderin im A5 Format und mittlerer Höhe, die Box besticht durch ihr perfektes Design und ist die ideale Wahl für mittelgroße Werbegeschenke. Optional gibt es CLARA auch mit Geschenkkarte oder dünnem Einlegefolder.</p>
</article>
<h3 class="title_module">Spezifikation</h3>
<div class="block__white row">
    <div class="col-md-6">
        <ul class="list__left">
            <li><strong>Innenmaß:</strong>210 x 150 x 27 mm</li>
            <li><strong>Aussenmaß:</strong>250 x 190 x 31 mm</li>
            <li><strong>Abmessungen Schuber:</strong> 290 x 195 x 35 mm</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list__right">
            <li><strong>Gewicht Box:</strong>0,115 kg</li>
            <li><strong>Gewicht Schuber:</strong>0,056 kg</li>
            <!-- <li><strong>Material</strong>Fedrigoni Symbol Card</li> -->
        </ul>
    </div>
</div>
<h3 class="title_module">Preis</h3>
<div class="block__white block__price">
    <div class="row">
        <div class="col-md-4">
            <span>Mindestauflage: 25 Stück</span><br>
            <strong>Preis bei 500 Stk: € 5,61</strong>
        </div>
        <div class="col-md-7 col-md-offset-1">
            <a ng-click="sendBoxInfo('Clara')" data-target="contact" class="btn btn__green btn__modal block text-center">Find ich gut – senden Sie mir ein unverbindliches Angebot!</a>
        </div>
    </div>
</div>

        </div>
        <!-- tabs box -->
        <div class="tabs__box">
            
<h3 class="title_module">Cornelia 210 x 150 x 42</h3>
<article class="block__white">
    <p>Unsere Allrounderin im A5 Format und maximalem Volumen, die Box besticht durch ihr perfektes Design und Ihre Höhe. Sie ist die ideale Wahl für mittelgroße und zugleich etwas höhere Werbegeschenke. Optional gibt es CLARA auch mit Geschenkkarte oder dünnem Einlegefolder.</p>
</article>
<h3 class="title_module">Spezifikation</h3>
<div class="block__white row">
    <div class="col-md-6">
        <ul class="list__left">
            <li><strong>Innenmaß:</strong>210 x 150 x 42 mm</li>
            <li><strong>Aussenmaß:</strong>250 x 190 x 46 mm</li>
            <li><strong>Abmessungen Schuber:</strong> 290 x 195 x 50 mm</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list__right">
            <li><strong>Gewicht Box:</strong>0,127 kg</li>
            <li><strong>Gewicht Schuber:</strong>0,059 kg</li>
            <!-- <li><strong>Material</strong>Fedrigoni Symbol Card</li> -->
        </ul>
    </div>
</div>
<h3 class="title_module">Preis</h3>
<div class="block__white block__price">
    <div class="row">
        <div class="col-md-4">
            <span>Mindestauflage: 25 Stück</span><br>
            <strong>Preis bei 500 Stk: € 5,61</strong>
        </div>
        <div class="col-md-7 col-md-offset-1">
            <a ng-click="sendBoxInfo('Cornelia')" data-target="contact" class="btn btn__green btn__modal block text-center">Find ich gut – senden Sie mir ein unverbindliches Angebot!</a>
        </div>
    </div>
</div>

        </div>
        <!-- tabs box -->
    </div>
</div>




                            
<h3 class="title_module">Extras</h3>
<div class="block__white">
    <div class="row">
        <div class="col-md-6">
            <ul class="list__left">
                <li><strong>Konfektionieren</strong> 0,95€ pro Box</li>
                <li><strong>Einlegen der Werbemittel</strong> 0,36 € bis 0,80 € pro Box</li>
                <li><strong>Magnet- oder Klett-Verschluss</strong> 0,69 € pro Box</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list__right">
                <li><strong>Design-Service</strong>1.598,50 €</li>
                <li><strong>Musterbox</strong>56,06 €</li>
                <li><strong>Diverse Veredelungen</strong> auf Anfrage</li>
            </ul>
        </div>
    </div>
</div>
                        </div>
                        <div class="col-md-3">
                            <div class="sidebar">
    <div class="sidebar__module sidebar__module--box">
        <h3>UNSERE STANDARD BOXEN</h3>
        <ul class="list__box">
            

                

                    <li class="">
                        <a href="/boxen/din_a6.html"><span>Din A6</span><i>150 x 105</i></a>
                    </li>

                

                    <li class="">
                        <a href="/boxen/din_lang.html"><span>Din lang</span><i>210 x 105</i></a>
                    </li>

                

                    <li class=" active ">
                        <a href="/boxen/din_a5.html"><span>Din A5</span><i>210 x 150</i></a>
                    </li>

                

                    <li class="">
                        <a href="/boxen/quadratisch.html"><span>Quadratisch</span><i>210 x 210</i></a>
                    </li>

                

                    <li class="">
                        <a href="/boxen/din_a4.html"><span>Din A4</span><i>300 x 210</i></a>
                    </li>

                

            

                

            

                

            
        </ul>
    </div>
    <div class="sidebar__module">
        <h3>KUNDENSUPPORT</h3>
        <article>
            <p>Sie haben eine Frage zu unseren Produkten oder sind sich nicht sicher welches Produkt das optimalste für Ihr Werbevorhaben ist? <br>Unser Support Team hilft Ihnen gerne telefonisch oder per email weiter!</p>
        </article>
        <div class="block__btn">
            <a href="tel:+43720817039" class="btn btn__green">+43 720 817 039</a>
            <a href="/kontakt.html" class="btn btn__green">office@boxful.at</a>
        </div>
    </div>
</div>
                        </div>
                    </div>
                </div>
            </section>
            
              <div class="advantage">

    
        <h2 class="title_section text-center">IHRE VORTEILE</h2>
        <!-- for box -->
    

    <div class="row">
        <div class="col-md-4 col-sm-6 text-center item">
            <div>
                <h4>FÜNF STANDARD-GRÖSSEN</h4>
                <p>Unsere Boxen gibt es in Din A6, Din lang, Din A5, quadratisch und in Din A4. Sie sind jeweils 14mm, 27mm oder 42mm hoch</p>
            </div>
        </div>
        <!-- item -->
        <div class="col-md-4 col-sm-6 text-center item">
            <div>
                <h4>VOLLFLÄCHIG 4C BEDRUCKT</h4>
                <p>Ein vollflächiger Druck innen und außen gehört zum Standard bei allen Boxen. Individuelle Veredelungen sind gegen Aufpreis möglich</p>
            </div>
        </div>
        <!-- item -->
        <div class="col-md-4 col-sm-6 text-center item">
            <div>
                <h4>MASSGESCHNEIDERTES INLAY</h4>
                <p>Das Inlay wird maßgenau auf Ihre Werbemittel angepasst und garantiert somit perfekten Halt und optimale Präsentation </p>
            </div>
        </div>
        <!-- item -->
        <div class="col-md-4 col-sm-6 text-center item">
            <div>
                <h4>GRUSSKARTE ODER FOLDER</h4>
                <p>Das Format der Boxen wurde so gewählt, dass Sie auch Grußkarten, Folder oder Kataloge beilegen können.</p>
            </div>
        </div>
        <!-- item -->
        <div class="col-md-4 col-sm-6 text-center item">
            <div>
                <h4>VERSANDSCHUTZ</h4>
                <p>Eine stabile Überverpackung mit integriertem Kantenschutz ermöglicht den einfachen Postversand oder Transport</p>
            </div>
        </div>
        <!-- item -->
        <div class="col-md-4 col-sm-6 text-center item">
            <div>
                <h4>DESIGN-SERVICE</h4>
                <p>Gerne gestalten wir die Boxen gemäß Ihrer Corporate Design Richtlinien und bereiten die Druckdaten dementsprechen auf</p>
            </div>
        </div>
        <!-- item -->
        <div class="col-md-4 col-sm-6 text-center item">
            <div>
                <h4>KURZE LIEFERZEITEN</h4>
                <p>Wir achten auf kurze Lieferwege und standardisierte Prozesse. Darum können wir binnen 2-3 Wochen ab Druckfreigabe ihre Boxen liefern</p>
            </div>
        </div>
        <!-- item -->
        <div class="col-md-4 col-sm-6 text-center item">
            <div>
                <h4>PRODUKTION IN ÖSTERREICH</h4>
                <p>Ihre Box wird von einem regionalen Unternehmen in OÖ produziert und konfektioniert – darauf sind wir stolz</p>
            </div>
        </div>
        <!-- item -->
        <div class="col-md-4 col-sm-6 text-center item">
            <div>
                <h4>PERSÖNLICHE BERATUNG</h4>
                <p>Als kleines Startup Unternehmen sind wir uns unserer Verantwortung gegerüber unseren Kunden bewusst und arbeiten hart dafür</p>
            </div>
        </div>
        <!-- item -->
    </div>
</div>
            

         </div>
         <!-- .content end-->
         <div class="layout_footer"></div>
      </div>

          <footer class="footer">
          <div class="container">
              <div class="text-center">
                  <img src="/images/logo_footer.png" alt=""> <br>
                  <strong>boxful ist eine Marke von</strong> <br>
                  <strong>Othmar Fetz</strong> • Kirchenstraße 16 • 4615 Holzhausen • +43 720 817039 • <a href='mailto:office@fetz.cc'>office@fetz.cc</a> • ATU61165223
              </div>
          </div>
      </footer>
      <!-- .footer -->

      
    <div id="overlay"></div>
    <div class="modal modal__contact">

        <div>
          <a href="#" class="modal__close">+</a>
          <h3>Bitte senden Sie mir ein Angebot</h3>
          <form class="form" ng-controller="ContactCtrl" name="contactForm">
  <div class="form-group">
    <label>Name</label>
    <span class="input_box input_box-block">
      <input type="text" class="form-control" placeholder="Name" ng-model="form.name" required="">
    </span>
  </div>
  <!-- form-group -->
  <div class="form-group">
    <label>Kontakt (E-Mail oder Telefonnummer)</label>
    <span class="input_box input_box-block">
      <input type="text" class="form-control" placeholder="Kontakt" ng-model="form.contact" required="">
    </span>
  </div>
  <!-- form-group -->
  <div class="form-group">
    <label>Nachricht</label>
    <span class="input_box input_box-block">
      <textarea class="form-control" placeholder="Nachricht" ng-model="form.message" required=""></textarea>
    </span>
  </div>
  <!-- form-group -->
  
    <button ng-click="send()" class="btn btn__green" ng-disabled="contactForm.$invalid">Ein unverbindliches Angebot anfragen</button>
  
  <span class="alert alert_yes" ng-show="sent"><i>Ihre Anfrage wurde erfolgreich gesendet</i></span>
</form>

        </div>
    </div>



    <!-- <div class="responsive_test"></div> -->
    </body>
</html>

